In [1]:
import pandas as pd
import requests

In [2]:
emails = pd.read_csv('/Users/adambachrach/Desktop/Email_Validation/invalid_emails.csv')
emails_df = pd.DataFrame(emails)
emails_df

,ID,Email,status,Unnamed: 3,New Email,Unnamed: 5,Unnamed: 6,domain name,Unnamed: 8,domain,dns,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Reason
0,134765,danielbara@37.com,invalid,danielbara,NaN,37.com,NaN,37,com,37.com,37.com,0,1,0,1,1,1,NaN
1,173210,jsoden@111eighth.com,invalid,jsoden,NaN,111eighth.com,NaN,111eighth,com,111eighth.com,outlook.com,0,0,0,1,1,1,NaN
2,409364,larry@200e62ny.com,invalid,larry,NaN,200e62ny.com,NaN,200e62ny,com,200e62ny.com,serverdata.net,0,0,0,1,1,1,NaN
3,206155,dennis.sherry@245parkavenyc.com,invalid,dennis.sherry,NaN,245parkavenyc.com,NaN,245parkavenyc,com,245parkavenyc.com,outlook.com,0,0,0,1,1,1,NaN
4,214153,jgoldberg@2iprtners.com,invalid,jgoldberg,NaN,2iprtners.com,NaN,2iprtners,com,2iprtners.com,NaN,0,0,0,0,0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1343,50000,lgrunwald@ytypupa.org,invalid,lgrunwald,NaN,ytypupa.org,NaN,ytypupa,org,ytypupa.org,google.com,0,0,0,1,1,1,NaN
1344,411524,rsalpeter@yu.edu,invalid,rsalpeter,NaN,yu.edu,NaN,yu,edu,yu.edu,outlook.com,0,0,0,1,1,1,NaN
1345,416081,joseph.benari@einstein.yu.edu,invalid,joseph.benari,NaN,einstein.yu.edu,einstein,yu,edu,yu.edu,outlook.com,0,0,0,1,1,1,NaN
1346,480001,sklien@zalmen.com,invalid,sklien,sklien@zalmanmanagement.com,zalmen.com,NaN,zalmen,com,zalmen.com,outlook.com,0,0,0,1,1,1,NaN
1347,167598,jgeraci@zenithterminals.com,invalid,jgeraci,NaN,zenithterminals.com,NaN,zenithterminals,com,zenithterminals.com,outlook.com,0,0,0,1,1,1,NaN

In [3]:
just_emails = emails_df['Email']
just_emails

0                     danielbara@37.com
1                  jsoden@111eighth.com
2                    larry@200e62ny.com
3       dennis.sherry@245parkavenyc.com
4               jgoldberg@2iprtners.com
                     ...
1343              lgrunwald@ytypupa.org
1344                   rsalpeter@yu.edu
1345      joseph.benari@einstein.yu.edu
1346                  sklien@zalmen.com
1347        jgeraci@zenithterminals.com
Name: Email, Length: 1348, dtype: object